:root {
    --black: #002c5c;
    --dark-gray: #323b49;
    --gray: #64748b;
    --primary: #3b82f6;
    --green: #10b981;
    --red: #ef4444;
    --white: #fff;
    --stroke: #f1f2f4;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Geist", sans-serif;
    background-color: #F8FAFC;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}

.tab_btn.active{
    background: var(--primary);
    color: white;
}
.tab_btn.active:hover{
    background: var(--primary);
    color: white;
}


.delate__icon:hover img {
    filter: brightness(0) invert(1);
    border-color: transparent;
}